form * {
    display: block;
}
nav {
    min-height: 100vh;
    background-image: url(./prj-1/img/Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.credo {
    display: flex;
    border: 1px solid black;
    
    
}
.nav-line {
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    min-width: 300px;
}

.social {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    min-width: 1180px;
    
}

li {
    margin-left: 30px;
}
.tittle {
    margin-left: 400px;
    margin-top: 10px;
    font-size: 72px;
    font-family: 'Oswald', sans-serif;
    color: antiquewhite;
}

.btn-one {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: rgb(226, 123, 5);
    margin-left: 400px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.span-tittle {
    color: antiquewhite;
    background-color: rgba(132, 130, 133, 0.815);
    font-family: cursive;
    font-weight: 200;
    opacity: 50%;
}
.img-prog {
    width: 150px;
    height: 150px;
    float: left;
}

.wrapper {
    margin-left: 1150px;
    border: 2px solid white;
    margin-right: 300px;
    height: 150px;
    background-color: antiquewhite;
}
.article-header {
    color: antiquewhite;
    
}
.span-aside {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


.benefits__items {
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.benefits__text {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-left: 900px;
    font-family: 'Oswald', sans-serif;
}
.benefits__tittle {
    font-size: 56px;
    font-weight: 300;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.benefits__wrapper-one {
    height: 350px;
    width: 470px;
    border: 1px solid black;
}
.benefits__wrapper-two {
    height: 350px;
    width: 370px;
    border: 1px solid black;
}
.benefits__wrapper-three {
    height: 350px;
    width: 270px;
    border: 1px solid black;
}
.benefits__wrapper-four {
    height: 350px;
    width: 370px;
    border: 1px solid black;
}
.benefits__wrapper-five {
    height: 350px;
    width: 270px;
    border: 1px solid black;
}
.benefits__wrapper-six {
    height: 350px;
    width: 470px;
    border: 1px solid black;
}
.footer {
    background-color: rgb(41, 39, 39);
    background-image: none;
    display: grid;
    grid-template-columns: auto auto;
}
.footer__li {
    list-style: none;
    font-size: large;
    color: antiquewhite;
    
}
.footer__social {
    list-style: none;
    display: inline-flex;
    
}
.footer__text {
    color: antiquewhite;
    margin-left: 60px;
    
}
.footer__logo {
    margin-left: 75px;
    
}
.line {
    margin-left: 150px;
}
.footer__rights {
    color: antiquewhite;
    margin-left: 750px;
}
.creators__text {
    margin-left: 900px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}
.creators__items {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap:50px;
}
.creators__tittle {
    text-align: center;
    font-size: 56px;
    font-family: 'Oswald', sans-serif;
}
.creators__wrapper {
    height: 370px;
    width: 370px;
    border: 1px solid black;
    margin: 0;
}
.map {
    display:inline-flex;
    
}
.FAQ {
    margin-top:  50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: (1,1fr);
    justify-content: center;
    gap: 30px;

}
.FAQ__box {
    border: 1px solid black;
    width: 770px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px rgba(54, 33, 0, 0.102129);
    border-radius: 3px;
    padding: 5px;
    display: flex;
    ;
}

.FAQ__p {
    visibility: hidden;
}


