form * {
    display: block;
}
nav {
    min-height: 100vh;
    background-image: url(./prj-1/img/Bitmap.png);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul {
    color: #000;
    display: flex;
}
.sec2 {
    display: inline-flex;
}
iframe {
    float: left;
}

